<a href="https://colab.research.google.com/github/ramanro24/Pandas-Learning/blob/main/Pandas_learning_for_data_manipulation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

# Set a seed for reproducibility
np.random.seed(0)

# Create the DataFrame
df = pd.DataFrame({
    'ID': range(1, 21),
    'Name': [f'Person_{i}' for i in range(1, 21)],
    'Age': np.random.randint(20, 51, size=20),
    'Salary': np.random.randint(40000, 120001, size=20),
    'Department': np.random.choice(['HR', 'Finance', 'IT', 'Marketing', 'Operations'], size=20)
})

# Display the DataFrame
print(df)

    ID       Name  Age  Salary  Department
0    1   Person_1   32   72230  Operations
1    2   Person_2   35   58983   Marketing
2    3   Person_3   41   46921   Marketing
3    4   Person_4   20   78804          IT
4    5   Person_5   23  107699  Operations
5    6   Person_6   47  110608          IT
6    7   Person_7   23   77619          HR
7    8   Person_8   27   47877          HR
8    9   Person_9   29   41871  Operations
9   10  Person_10   39  113135          HR
10  11  Person_11   41   42496  Operations
11  12  Person_12   38   87954     Finance
12  13  Person_13   24   64675  Operations
13  14  Person_14   43   71921     Finance
14  15  Person_15   26   40797          IT
15  16  Person_16   44   89811          IT
16  17  Person_17   44  108755          HR
17  18  Person_18   32   92489     Finance
18  19  Person_19   46   81504     Finance
19  20  Person_20   21   89866     Finance

In [2]:
# Display the first 5 rows:
df.head(5)

   ID      Name  Age  Salary  Department
0   1  Person_1   32   72230  Operations
1   2  Person_2   35   58983   Marketing
2   3  Person_3   41   46921   Marketing
3   4  Person_4   20   78804          IT
4   5  Person_5   23  107699  Operations

In [3]:
#2. Get summary statistics:

df.describe()

             ID        Age         Salary
count  20.00000  20.000000      20.000000
mean   10.50000  33.750000   76300.750000
std     5.91608   9.135673   24173.644088
min     1.00000  20.000000   40797.000000
25%     5.75000  25.500000   56206.500000
50%    10.50000  33.500000   78211.500000
75%    15.25000  41.500000   90521.750000
max    20.00000  47.000000  113135.000000

In [4]:
#3. Filter rows where Age is greater than 30:
print(df[df['Age']>30])

    ID       Name  Age  Salary  Department
0    1   Person_1   32   72230  Operations
1    2   Person_2   35   58983   Marketing
2    3   Person_3   41   46921   Marketing
5    6   Person_6   47  110608          IT
9   10  Person_10   39  113135          HR
10  11  Person_11   41   42496  Operations
11  12  Person_12   38   87954     Finance
13  14  Person_14   43   71921     Finance
15  16  Person_16   44   89811          IT
16  17  Person_17   44  108755          HR
17  18  Person_18   32   92489     Finance
18  19  Person_19   46   81504     Finance

In [5]:
#Calculate the average salary:

df.groupby('Department')['Salary'].mean()

Department
Finance       84746.8
HR            86846.5
IT            80005.0
Marketing     52952.0
Operations    65794.2
Name: Salary, dtype: float64

In [6]:
#Group by Department and count the number of employees in each:
df.groupby('Department')['Name'].count()

Department
Finance       5
HR            4
IT            4
Marketing     2
Operations    5
Name: Name, dtype: int64

In [7]:
#Rename the column "Salary" to "Income".
#df['Salary'].rename('Income')
df.rename(columns={'Salary':'Income'})

    ID       Name  Age  Income  Department
0    1   Person_1   32   72230  Operations
1    2   Person_2   35   58983   Marketing
2    3   Person_3   41   46921   Marketing
3    4   Person_4   20   78804          IT
4    5   Person_5   23  107699  Operations
5    6   Person_6   47  110608          IT
6    7   Person_7   23   77619          HR
7    8   Person_8   27   47877          HR
8    9   Person_9   29   41871  Operations
9   10  Person_10   39  113135          HR
10  11  Person_11   41   42496  Operations
11  12  Person_12   38   87954     Finance
12  13  Person_13   24   64675  Operations
13  14  Person_14   43   71921     Finance
14  15  Person_15   26   40797          IT
15  16  Person_16   44   89811          IT
16  17  Person_17   44  108755          HR
17  18  Person_18   32   92489     Finance
18  19  Person_19   46   81504     Finance
19  20  Person_20   21   89866     Finance

In [8]:
df

    ID       Name  Age  Salary  Department
0    1   Person_1   32   72230  Operations
1    2   Person_2   35   58983   Marketing
2    3   Person_3   41   46921   Marketing
3    4   Person_4   20   78804          IT
4    5   Person_5   23  107699  Operations
5    6   Person_6   47  110608          IT
6    7   Person_7   23   77619          HR
7    8   Person_8   27   47877          HR
8    9   Person_9   29   41871  Operations
9   10  Person_10   39  113135          HR
10  11  Person_11   41   42496  Operations
11  12  Person_12   38   87954     Finance
12  13  Person_13   24   64675  Operations
13  14  Person_14   43   71921     Finance
14  15  Person_15   26   40797          IT
15  16  Person_16   44   89811          IT
16  17  Person_17   44  108755          HR
17  18  Person_18   32   92489     Finance
18  19  Person_19   46   81504     Finance
19  20  Person_20   21   89866     Finance

In [9]:
# Add a new column "Bonus" which is 10% of the salary
df['bonus']=df['Salary']*0.1
df

    ID       Name  Age  Salary  Department    bonus
0    1   Person_1   32   72230  Operations   7223.0
1    2   Person_2   35   58983   Marketing   5898.3
2    3   Person_3   41   46921   Marketing   4692.1
3    4   Person_4   20   78804          IT   7880.4
4    5   Person_5   23  107699  Operations  10769.9
5    6   Person_6   47  110608          IT  11060.8
6    7   Person_7   23   77619          HR   7761.9
7    8   Person_8   27   47877          HR   4787.7
8    9   Person_9   29   41871  Operations   4187.1
9   10  Person_10   39  113135          HR  11313.5
10  11  Person_11   41   42496  Operations   4249.6
11  12  Person_12   38   87954     Finance   8795.4
12  13  Person_13   24   64675  Operations   6467.5
13  14  Person_14   43   71921     Finance   7192.1
14  15  Person_15   26   40797          IT   4079.7
15  16  Person_16   44   89811          IT   8981.1
16  17  Person_17   44  108755          HR  10875.5
17  18  Person_18   32   92489     Finance   9248.9
18  19  Person_19   46   81504     Finance   8150.4
19  20  Person_20   21   89866     Finance   8986.6

In [10]:
# Replace all "Marketing" department names with "Sales"
df['Department']= df['Department'].replace('Marketing', 'Sales')
df

    ID       Name  Age  Salary  Department    bonus
0    1   Person_1   32   72230  Operations   7223.0
1    2   Person_2   35   58983       Sales   5898.3
2    3   Person_3   41   46921       Sales   4692.1
3    4   Person_4   20   78804          IT   7880.4
4    5   Person_5   23  107699  Operations  10769.9
5    6   Person_6   47  110608          IT  11060.8
6    7   Person_7   23   77619          HR   7761.9
7    8   Person_8   27   47877          HR   4787.7
8    9   Person_9   29   41871  Operations   4187.1
9   10  Person_10   39  113135          HR  11313.5
10  11  Person_11   41   42496  Operations   4249.6
11  12  Person_12   38   87954     Finance   8795.4
12  13  Person_13   24   64675  Operations   6467.5
13  14  Person_14   43   71921     Finance   7192.1
14  15  Person_15   26   40797          IT   4079.7
15  16  Person_16   44   89811          IT   8981.1
16  17  Person_17   44  108755          HR  10875.5
17  18  Person_18   32   92489     Finance   9248.9
18  19  Person_19   46   81504     Finance   8150.4
19  20  Person_20   21   89866     Finance   8986.6

Basic Operations
1. Display the last 5 rows of the DataFrame.
2. Show the data types of all columns.
3. Rename the column "Salary" to "Income".
4. Add a new column "Bonus" which is 10% of the salary.
5. Change all department names to uppercase.

In [11]:
#1. Display the last 5 rows of the DataFrame.

df.head()

   ID      Name  Age  Salary  Department    bonus
0   1  Person_1   32   72230  Operations   7223.0
1   2  Person_2   35   58983       Sales   5898.3
2   3  Person_3   41   46921       Sales   4692.1
3   4  Person_4   20   78804          IT   7880.4
4   5  Person_5   23  107699  Operations  10769.9

Filtering Data
1. Select all employees from the "IT" department.
2. Find employees who are younger than 25 and work in "HR".
3. Select employees with a salary greater than $70,000 but less than $100,000.
4. Find employees whose names start with "Person_1".
5. Select rows where "Department" is either "Marketing" or "Finance".

In [12]:
#2 What are the data type of columns ?

df.dtypes

ID              int64
Name           object
Age             int64
Salary          int64
Department     object
bonus         float64
dtype: object

In [13]:
#3. rename the column column salary to income?
df.rename(columns={'Salary' : 'Income'})

    ID       Name  Age  Income  Department    bonus
0    1   Person_1   32   72230  Operations   7223.0
1    2   Person_2   35   58983       Sales   5898.3
2    3   Person_3   41   46921       Sales   4692.1
3    4   Person_4   20   78804          IT   7880.4
4    5   Person_5   23  107699  Operations  10769.9
5    6   Person_6   47  110608          IT  11060.8
6    7   Person_7   23   77619          HR   7761.9
7    8   Person_8   27   47877          HR   4787.7
8    9   Person_9   29   41871  Operations   4187.1
9   10  Person_10   39  113135          HR  11313.5
10  11  Person_11   41   42496  Operations   4249.6
11  12  Person_12   38   87954     Finance   8795.4
12  13  Person_13   24   64675  Operations   6467.5
13  14  Person_14   43   71921     Finance   7192.1
14  15  Person_15   26   40797          IT   4079.7
15  16  Person_16   44   89811          IT   8981.1
16  17  Person_17   44  108755          HR  10875.5
17  18  Person_18   32   92489     Finance   9248.9
18  19  Person_19   46   81504     Finance   8150.4
19  20  Person_20   21   89866     Finance   8986.6

In [14]:
#5. Change all department names to uppercase.
df['Department'].str.upper()
df

    ID       Name  Age  Salary  Department    bonus
0    1   Person_1   32   72230  Operations   7223.0
1    2   Person_2   35   58983       Sales   5898.3
2    3   Person_3   41   46921       Sales   4692.1
3    4   Person_4   20   78804          IT   7880.4
4    5   Person_5   23  107699  Operations  10769.9
5    6   Person_6   47  110608          IT  11060.8
6    7   Person_7   23   77619          HR   7761.9
7    8   Person_8   27   47877          HR   4787.7
8    9   Person_9   29   41871  Operations   4187.1
9   10  Person_10   39  113135          HR  11313.5
10  11  Person_11   41   42496  Operations   4249.6
11  12  Person_12   38   87954     Finance   8795.4
12  13  Person_13   24   64675  Operations   6467.5
13  14  Person_14   43   71921     Finance   7192.1
14  15  Person_15   26   40797          IT   4079.7
15  16  Person_16   44   89811          IT   8981.1
16  17  Person_17   44  108755          HR  10875.5
17  18  Person_18   32   92489     Finance   9248.9
18  19  Person_19   46   81504     Finance   8150.4
19  20  Person_20   21   89866     Finance   8986.6

In [15]:
#4. Find employees whose names start with "Person_1".
df[df["Name"].str.startswith("Person_1")]

    ID       Name  Age  Salary  Department    bonus
0    1   Person_1   32   72230  Operations   7223.0
9   10  Person_10   39  113135          HR  11313.5
10  11  Person_11   41   42496  Operations   4249.6
11  12  Person_12   38   87954     Finance   8795.4
12  13  Person_13   24   64675  Operations   6467.5
13  14  Person_14   43   71921     Finance   7192.1
14  15  Person_15   26   40797          IT   4079.7
15  16  Person_16   44   89811          IT   8981.1
16  17  Person_17   44  108755          HR  10875.5
17  18  Person_18   32   92489     Finance   9248.9
18  19  Person_19   46   81504     Finance   8150.4

In [16]:
#5. Select rows where "Department" is either "HR" or "IT".
df[(df['Department'].isin(['HR', 'IT']))]

    ID       Name  Age  Salary Department    bonus
3    4   Person_4   20   78804         IT   7880.4
5    6   Person_6   47  110608         IT  11060.8
6    7   Person_7   23   77619         HR   7761.9
7    8   Person_8   27   47877         HR   4787.7
9   10  Person_10   39  113135         HR  11313.5
14  15  Person_15   26   40797         IT   4079.7
15  16  Person_16   44   89811         IT   8981.1
16  17  Person_17   44  108755         HR  10875.5

Sorting & Aggregation
1. Sort employees by Age in ascending order.
2. Sort employees by Salary in descending order.
3. Count the number of employees in each department.
4. Find the average salary of employees in "Operations".
5. Get the highest salary in the entire dataset.

In [18]:
#1. Sort employees by Age in ascending order.
df.sort_values('Age')

    ID       Name  Age  Salary  Department    bonus
3    4   Person_4   20   78804          IT   7880.4
19  20  Person_20   21   89866     Finance   8986.6
4    5   Person_5   23  107699  Operations  10769.9
6    7   Person_7   23   77619          HR   7761.9
12  13  Person_13   24   64675  Operations   6467.5
14  15  Person_15   26   40797          IT   4079.7
7    8   Person_8   27   47877          HR   4787.7
8    9   Person_9   29   41871  Operations   4187.1
17  18  Person_18   32   92489     Finance   9248.9
0    1   Person_1   32   72230  Operations   7223.0
1    2   Person_2   35   58983       Sales   5898.3
11  12  Person_12   38   87954     Finance   8795.4
9   10  Person_10   39  113135          HR  11313.5
10  11  Person_11   41   42496  Operations   4249.6
2    3   Person_3   41   46921       Sales   4692.1
13  14  Person_14   43   71921     Finance   7192.1
15  16  Person_16   44   89811          IT   8981.1
16  17  Person_17   44  108755          HR  10875.5
18  19  Person_19   46   81504     Finance   8150.4
5    6   Person_6   47  110608          IT  11060.8

In [19]:
#2. Sort employees by Salary in descending order.
df.sort_values('Salary', ascending=False)

    ID       Name  Age  Salary  Department    bonus
9   10  Person_10   39  113135          HR  11313.5
5    6   Person_6   47  110608          IT  11060.8
16  17  Person_17   44  108755          HR  10875.5
4    5   Person_5   23  107699  Operations  10769.9
17  18  Person_18   32   92489     Finance   9248.9
19  20  Person_20   21   89866     Finance   8986.6
15  16  Person_16   44   89811          IT   8981.1
11  12  Person_12   38   87954     Finance   8795.4
18  19  Person_19   46   81504     Finance   8150.4
3    4   Person_4   20   78804          IT   7880.4
6    7   Person_7   23   77619          HR   7761.9
0    1   Person_1   32   72230  Operations   7223.0
13  14  Person_14   43   71921     Finance   7192.1
12  13  Person_13   24   64675  Operations   6467.5
1    2   Person_2   35   58983       Sales   5898.3
7    8   Person_8   27   47877          HR   4787.7
2    3   Person_3   41   46921       Sales   4692.1
10  11  Person_11   41   42496  Operations   4249.6
8    9   Person_9   29   41871  Operations   4187.1
14  15  Person_15   26   40797          IT   4079.7

In [23]:
#3. Count the number of employees in each department.
df.groupby('Department')['Name'].count()

Department
Finance       5
HR            4
IT            4
Operations    5
Sales         2
Name: Name, dtype: int64

In [29]:
#4. Find the average salary of employees in "Operations".
df[df['Department']== 'Operations']['Salary'].mean()

65794.2

In [28]:
#5. Find the avg salary of all the department.
df.groupby('Department')['Salary'].mean()

Department
Finance       84746.8
HR            86846.5
IT            80005.0
Operations    65794.2
Sales         52952.0
Name: Salary, dtype: float64

In [30]:
#5. Get the highest salary in the entire dataset.
df["Salary"].max()

113135

Modifying Data
1. Replace all "Marketing" department names with "Sales".
2. Create a new column "Experience" where Experience = Age - 18.
3. Drop the "ID" column from the DataFrame.
4. Reset the index of the DataFrame after dropping rows.
5. Convert "Department" into a categorical data type.

In [34]:
#1. Replace all "Marketing" department names with "Sales".
df['Department']=df['Department'].replace("Marketing","Sales")
df

    ID       Name  Age  Salary  Department    bonus
0    1   Person_1   32   72230  Operations   7223.0
1    2   Person_2   35   58983       Sales   5898.3
2    3   Person_3   41   46921       Sales   4692.1
3    4   Person_4   20   78804          IT   7880.4
4    5   Person_5   23  107699  Operations  10769.9
5    6   Person_6   47  110608          IT  11060.8
6    7   Person_7   23   77619          HR   7761.9
7    8   Person_8   27   47877          HR   4787.7
8    9   Person_9   29   41871  Operations   4187.1
9   10  Person_10   39  113135          HR  11313.5
10  11  Person_11   41   42496  Operations   4249.6
11  12  Person_12   38   87954     Finance   8795.4
12  13  Person_13   24   64675  Operations   6467.5
13  14  Person_14   43   71921     Finance   7192.1
14  15  Person_15   26   40797          IT   4079.7
15  16  Person_16   44   89811          IT   8981.1
16  17  Person_17   44  108755          HR  10875.5
17  18  Person_18   32   92489     Finance   9248.9
18  19  Person_19   46   81504     Finance   8150.4
19  20  Person_20   21   89866     Finance   8986.6

In [36]:
#2. Create a new column "Experience" where Experience = Age - 18.
df['Experience']=df['Age']-18
df

    ID       Name  Age  Salary  Department    bonus  Experience
0    1   Person_1   32   72230  Operations   7223.0          14
1    2   Person_2   35   58983       Sales   5898.3          17
2    3   Person_3   41   46921       Sales   4692.1          23
3    4   Person_4   20   78804          IT   7880.4           2
4    5   Person_5   23  107699  Operations  10769.9           5
5    6   Person_6   47  110608          IT  11060.8          29
6    7   Person_7   23   77619          HR   7761.9           5
7    8   Person_8   27   47877          HR   4787.7           9
8    9   Person_9   29   41871  Operations   4187.1          11
9   10  Person_10   39  113135          HR  11313.5          21
10  11  Person_11   41   42496  Operations   4249.6          23
11  12  Person_12   38   87954     Finance   8795.4          20
12  13  Person_13   24   64675  Operations   6467.5           6
13  14  Person_14   43   71921     Finance   7192.1          25
14  15  Person_15   26   40797          IT   4079.7           8
15  16  Person_16   44   89811          IT   8981.1          26
16  17  Person_17   44  108755          HR  10875.5          26
17  18  Person_18   32   92489     Finance   9248.9          14
18  19  Person_19   46   81504     Finance   8150.4          28
19  20  Person_20   21   89866     Finance   8986.6           3

In [38]:
#3. Drop the "ID" column from the DataFrame.
df.drop(columns="ID")

         Name  Age  Salary  Department    bonus  Experience
0    Person_1   32   72230  Operations   7223.0          14
1    Person_2   35   58983       Sales   5898.3          17
2    Person_3   41   46921       Sales   4692.1          23
3    Person_4   20   78804          IT   7880.4           2
4    Person_5   23  107699  Operations  10769.9           5
5    Person_6   47  110608          IT  11060.8          29
6    Person_7   23   77619          HR   7761.9           5
7    Person_8   27   47877          HR   4787.7           9
8    Person_9   29   41871  Operations   4187.1          11
9   Person_10   39  113135          HR  11313.5          21
10  Person_11   41   42496  Operations   4249.6          23
11  Person_12   38   87954     Finance   8795.4          20
12  Person_13   24   64675  Operations   6467.5           6
13  Person_14   43   71921     Finance   7192.1          25
14  Person_15   26   40797          IT   4079.7           8
15  Person_16   44   89811          IT   8981.1          26
16  Person_17   44  108755          HR  10875.5          26
17  Person_18   32   92489     Finance   9248.9          14
18  Person_19   46   81504     Finance   8150.4          28
19  Person_20   21   89866     Finance   8986.6           3

In [39]:
#5. Reset the index of the DataFrame after dropping rows.
df.reset_index()

    index  ID       Name  Age  Salary  Department    bonus  Experience
0       0   1   Person_1   32   72230  Operations   7223.0          14
1       1   2   Person_2   35   58983       Sales   5898.3          17
2       2   3   Person_3   41   46921       Sales   4692.1          23
3       3   4   Person_4   20   78804          IT   7880.4           2
4       4   5   Person_5   23  107699  Operations  10769.9           5
5       5   6   Person_6   47  110608          IT  11060.8          29
6       6   7   Person_7   23   77619          HR   7761.9           5
7       7   8   Person_8   27   47877          HR   4787.7           9
8       8   9   Person_9   29   41871  Operations   4187.1          11
9       9  10  Person_10   39  113135          HR  11313.5          21
10     10  11  Person_11   41   42496  Operations   4249.6          23
11     11  12  Person_12   38   87954     Finance   8795.4          20
12     12  13  Person_13   24   64675  Operations   6467.5           6
13     13  14  Person_14   43   71921     Finance   7192.1          25
14     14  15  Person_15   26   40797          IT   4079.7           8
15     15  16  Person_16   44   89811          IT   8981.1          26
16     16  17  Person_17   44  108755          HR  10875.5          26
17     17  18  Person_18   32   92489     Finance   9248.9          14
18     18  19  Person_19   46   81504     Finance   8150.4          28
19     19  20  Person_20   21   89866     Finance   8986.6           3

In [45]:
#5. Convert "Department" into a categorical data type.
df['Department']= df['Department'].astype('category')
df.dtypes

ID               int64
Name            object
Age              int64
Salary           int64
Department    category
bonus          float64
Experience       int64
dtype: object

Grouping & Advanced Operations
1. Find the total salary paid in each department.
2. Calculate the minimum and maximum salary in each department.
3. Find the median salary for each department.
4. Count how many employees have an age above 30 in each department.
5. Create a pivot table showing average salary by "Department" and "Age".

In [48]:
#1. Find the total salary paid in each department.

df.groupby('Department')['Salary'].sum()

<ipython-input-48-98e97e82d066>:2: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df.groupby('Department')['Salary'].sum()

Department
Finance       423734
HR            347386
IT            320020
Operations    328971
Sales         105904
Name: Salary, dtype: int64

In [49]:
#2. Calculate the minimum and maximum salary in each department.
df.groupby('Department')['Salary'].agg(['min','max'])

<ipython-input-49-fab1f8b8633f>:2: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df.groupby('Department')['Salary'].agg(['min','max'])

              min     max
Department
Finance     71921   92489
HR          47877  113135
IT          40797  110608
Operations  41871  107699
Sales       46921   58983

In [51]:
#4. Count how many employees have an age above 30 in each department.

df.groupby('Department')['Age'].apply(lambda x: (x>30).sum())
df.groupby('Department')['Age'].apply(lambda x: (x>40).sum())

<ipython-input-51-3cf1b812ec86>:3: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df.groupby('Department')['Age'].apply(lambda x: (x>30).sum())
<ipython-input-51-3cf1b812ec86>:4: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df.groupby('Department')['Age'].apply(lambda x: (x>40).sum())

Department
Finance       2
HR            1
IT            2
Operations    1
Sales         1
Name: Age, dtype: int64

In [57]:
#5.Calculate average salary by "Department" and "Age".

df.groupby(['Department','Age'])["Salary"].mean()

<ipython-input-57-182e71ee0f67>:3: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df.groupby(['Department','Age'])["Salary"].mean()

Department  Age
Finance     20         NaN
            21     89866.0
            23         NaN
            24         NaN
            26         NaN
                    ...
Sales       41     46921.0
            43         NaN
            44         NaN
            46         NaN
            47         NaN
Name: Salary, Length: 80, dtype: float64